.header {
    background-color: #eeeee4;
    color: 000000;
    padding: 1rem;
    text-align: center;
}

.navigation {
    text-align: right;
    letter-spacing: 0.05rem;
    margin: 20px;
    word-spacing: 20px;
    font-size: 20px;
}

a:hover {
    background-color: #eeeee4;
}

.main {
    margin: 30px;
    line-height: 35px;
}


h1 {
    font-size: 48px;
}

button {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 1rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.5rem;
    text-align: center;
}


